/* CSS 変数定義*/
:root {
    --primary-bg: #28293E;
    --secondary-bg: #FDF0E9;
    --primary-color: white;
    --secondary-color: black;
}

/* body */
body {
    margin: 0px;
}

/* header */
header {
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

/* contents */
#contents {
    color: var(--secondary-color);
    background-color: var(--secondary-bg);
}

/* footer */
footer {
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

